{% extends './base_client.html' %}
{% block title %}Tin tức và giải thưởng{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Tin tức và giải thưởng">
    <meta name="keywords" content="Tin tức và giải thưởng" />
    <link rel="canonical" href="{% url 'about_tin_tuc_giai_thuong_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Tin tức và giải thưởng">
    <meta property="og:description" content="Tin tức và giải thưởng">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'about_tin_tuc_giai_thuong_client' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col w-full justify-start">
        <div class="relative flex justify-center items-center w-full h-[500px] overflow-hidden">
            <img class="w-full h-full object-cover" src="/upload/ttgt/a.jpg" />
            <div class="absolute flex justify-center items-center gap-3 inset-0  z-50 ">
                <div class="flex flex-col gap-3 w-[1250px]">
                    <h2 class="font-normal text-[60px] uppercase text-[#25394f]">LET'S TALK <br>#HYDRINITY</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center p-[50px]">
        <div class="grid grid-cols-2 w-[1200px] gap-[50px]">
            <div class="flex gap-[30px]">
                <img class="w-[320px]" src="/upload/ttgt/b1.webp" />
                <div class="flex flex-col gap-[20px]">
                    <div class="font-semibold text-[14px] text-[#5bbad6]">27 December, 2023</div>
                    <p class="font-normal text-[22px]text-[#101828]">CULTIVATING CONFIDENCE: THE HYDRINITY WAY TO A LUXURIOUS SKIN JOURNEY</p>
                    <a class="font-semibold text-[14px] text-[#5bbad6]">Read More</a>
                </div>
            </div>
            <div class="flex gap-[30px]">
                <img class="w-[320px]" src="/upload/ttgt/b2.webp" />
                <div class="flex flex-col gap-[20px]">
                    <div class="font-semibold text-[14px] text-[#5bbad6]">27 December, 2023</div>
                    <p class="font-normal text-[22px]text-[#101828]">Hydrinity Accelerated Skin Science Expands into the United Kingdom and Ireland</p>
                    <a class="font-semibold text-[14px] text-[#5bbad6]">Read More</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}