{% extends './base_client.html' %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center mb-6">
        <h1 class="uppercase font-bold text-[40px] text-black">
            Hệ thống cửa hàng
        </h1>
    </div>
    <div class="flex flex-col w-full justify-start">
        <div class="w-full h-[200px] overflow-hidden">
            <img class="w-full h-full object-cover mix-blend-multiply" style="mix-blend-mode: multiply;" src="/upload/about/9_1.png" />
        </div>
    </div>
</main>
{% endblock %}