{% extends './base_client.html' %}
{% block title %}Liên hệ{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Liên hệ">
    <meta name="keywords" content="Liên hệ" />
    <link rel="canonical" href="{% url 'about_lien_he_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Liên hệ">
    <meta property="og:description" content="Liên hệ">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'about_lien_he_client' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center justify-center w-full mb-6 text-[#11284A]">
    <div class="flex flex-col items-center mb-3 lg:mb-6 w-full">
        <h1 class="uppercase font-normal lg:font-bold text-[32px] lg:text-[40px] text-black">
            Hệ thống cửa hàng
        </h1>
    </div>
    <div class="flex flex-col w-full justify-start items-center p-[20px]">
        <div class="flex  gap-6">
            <img class="w-[69px] h-[69px] mt-2" src="/upload/map/a.png"  />
            <div class="flex flex-col ">
                <div class="font-normal text-[15px] lg:text-[25px]">
                    ĐỊA CHỈ LIÊN HỆ
                </div>
                <div class="font-normal text-[15px] lg:text-[25px]">
                    Số 3-1B, đường P, nội khu Mỹ Cảnh, Tân Phong, Quận 7, TP.HCM
                </div>
            </div>
        </div>
        <a href="https://www.google.com/maps?q=CN%20C%C3%B4ng%20ty%20TNHH%20Cosbeauty,%20S%E1%BB%91%203-1B,%20%C4%90%C6%B0%E1%BB%9Dng%20P,%20Khu%20ph%E1%BB%91%20M%E1%BB%B9%20C%E1%BA%A3nh,%20Ph%C3%BA%20M%E1%BB%B9%20H%C6%B0ng,%20Qu%E1%BA%ADn%207,%20Th%C3%A0nh%20ph%E1%BB%91%20H%E1%BB%93%20Ch%C3%AD%20Minh%20700000&ftid=0x31752f9b3f098f79:0x42d31e4e7b354523&entry=gps&lucs=,94216401,47071704,47069508,47084304,94208458,94208447&g_ep=CAISDTYuMTA5LjEuNTIxMjAYACDXggMqNiw5NDIxNjQwMSw0NzA3MTcwNCw0NzA2OTUwOCw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICVk4=&g_st=iz&utm_source=zalo&utm_medium=zalo&utm_campaign=zalo" class="mt-6"><span class="font-normal text-[20px] lg:text-[25px] bg-[#11284A] rounded text-white text-center px-2 py-1">Xem bản đồ</span></a>
    </div>
    <div class="flex lg:hidden flex-col items-center  gap-[20px] lg:py-[58px] lg:gap-[58px]">
        <span class="font-bold text-black text-[21px] lg:text-[55px]">
            THE RESULTS ARE IN
        </span>
        <div class="w-full flex justify-center">
            <div class="swiper mySwiper2 w-[362px] h-[170px] lg:w-[1280px] lg:h-[600px] ">
                <div class="swiper-wrapper">
                    {% for i in list_image_slider_3 %}
                    <div class="swiper-slide">
                        <img class="w-[362px] h-[170px] lg:w-[1280px] lg:h-[600px]" src="{{i.Photo.url}}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Chỉ có dấu chấm -->
                <div class="swiper-pagination hidden lg:block"></div>
            </div>
            <script>
                var swiper = new Swiper(".mySwiper2", {
                  loop: true, 
                  autoplay: { delay: 3000 }, // Tự động chạy
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                });
              </script>
              <style>
                /* Màu xám cho chấm tròn */
                .swiper-pagination-bullet {
                    background: #9ca3af !important; /* Tailwind gray-400 */
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    opacity: 1;
                }
            
                /* Màu trắng và kích thước lớn hơn khi active */
                .swiper-pagination-bullet-active {
                    background: #ffffff !important; /* Tailwind white */
                    width: 22px;
                    height: 22px;
                }
            </style>
        </div>
    </div>
</main>
{% endblock %}