{% extends './base_client.html' %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center">
        <h1 class="uppercase font-medium text-[64px] text-black">
            Blog
        </h1>
        <div class="w-[128px] h-[2px] bg-[#11284A]"></div>
    </div>
    <div class="flex flex-col items-center w-[1597px] mt-[50px] gap-6">
        <div class="flex justify-between w-full">
            <div class="flex flex-col items-center w-[626px] text-white">
                <div class="flex items-center justify-center w-full h-[626px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                    Hình ảnh
                </div>
                <div class=" w-full h-[98px] bg-[#11284A] text-center uppercase font-bold text-[30px] mt-6">
                    nội dung
                </div>
            </div>
            <div class="flex flex-col items-center w-[787px] text-white">
                <div class=" flex items-center justify-center w-full h-[626px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                    Hình ảnh
                </div>
                <div class=" w-full h-[98px] bg-[#11284A] text-center uppercase font-bold text-[30px] mt-6">
                    nội dung
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center w-full text-white">
            <div class="flex items-center justify-center w-full h-[626px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                Hình ảnh
            </div>
            <div class=" w-full h-[98px] bg-[#11284A] text-center uppercase font-bold text-[30px] mt-6">
                nội dung
            </div>
        </div>
    </div>
</main>
{% endblock %}