{% extends './base_client.html' %}
{% block title %}
    <title>{{ obj_Blog.Seo_Title }}</title>
{% endblock %}
{% block seo_tag %}
    <meta name="description" content="{{ obj_Blog.Seo_Description }}">
    <meta name="keywords" content="Blog,Hydrinity" />
{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{domain}}{% url 'slug_router' slug=obj_Blog.Slug %}">
{% endblock %}
{% block Schema %}
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "@id": "https://hydrinity.com.vn/{{obj_Blog.Slug}}.html#article",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://hydrinity.com.vn/{{obj_Blog.Slug}}.html"
    },
    "url": "https://hydrinity.com.vn/{{obj_Blog.Slug}}.html",
    "headline": "Hydrinity Vivid Brightening Serum – Giải Pháp Dưỡng Ẩm & Sáng Da Toàn Diện Từ Công Nghệ Khoa Học",
    "description": "Bài viết giới thiệu cơ chế dưỡng ẩm và hỗ trợ sáng da của Hydrinity Vivid Brightening Serum thông qua HA trọng lượng phân tử kép, công nghệ PPM6 và RPH.",
    "inLanguage": "vi-VN",
    "image": [
        "https://hydrinity.com.vn/upload/CKeditor/2026/03/26/vivid-brightening-serum_2026_t3_01_11zon.webp",
        "https://hydrinity.com.vn/upload/CKeditor/2026/03/26/vivid-brightening-serum_2026_t3_02_11zon.webp"
    ],
    "articleSection": "Blog",
    "keywords": [
        "Hydrinity Vivid Brightening Serum",
        "serum dưỡng ẩm",
        "serum sáng da",
        "HA trọng lượng phân tử kép",
        "PPM6",
        "RPH"
    ],
    "about": [
        {
        "@type": "Thing",
        "name": "Hydrinity Vivid Brightening Serum"
        },
        {
        "@type": "Thing",
        "name": "HA trọng lượng phân tử kép"
        },
        {
        "@type": "Thing",
        "name": "PPM6"
        },
        {
        "@type": "Thing",
        "name": "RPH"
        }
    ],
    "author": {
        "@type": "Organization",
        "name": "Hydrinity Việt Nam",
        "url": "https://hydrinity.com.vn/"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Hydrinity Việt Nam",
        "url": "https://hydrinity.com.vn/",
        "logo": {
        "@type": "ImageObject",
        "url": "https://hydrinity.com.vn/upload/Change_Website/LOGO_-_HYDRINITY_-_B.png"
        }
    },
    "isPartOf": {
        "@type": "Blog",
        "name": "Infinity Blog",
        "url": "https://hydrinity.com.vn/"
    }
    }
    </script>
{% endblock %}
{% block meta_tag %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hydrinity">
    <meta property="og:title" content="{{obj_Seo_Page.Seo_Title}}">
    <meta property="og:description" content="{{obj_Seo_Page.Seo_Description}}">
    <meta property="og:url" content="{{domain}}{% url 'slug_router' slug=obj_Blog.Slug %}">
    <meta property="og:image" content="{{domain}}{{ obj_Blog.Avatar.url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{obj_Seo_Page.Seo_Title}}">
    <meta name="twitter:description" content="{{obj_Seo_Page.Seo_Description}}">
    <meta name="twitter:image" content="{{domain}}{{ obj_Blog.Avatar.url }}">
{% endblock %}
{% block breadcrumb %}
    <a href="{% url 'nav_blog_client' %}" class="hover:cursor-pointer hover:underline">Blog</a>
    <a>/</a>
    <a href="{% url 'slug_router' slug=obj_Blog.Slug %}" class="hover:cursor-pointer hover:underline">{{obj_Blog.Title}}</a>
{% endblock %}
{% block breadcrumb_mb %}
    <a href="{% url 'nav_blog_client' %}" class="whitespace-nowrap hover:cursor-pointer hover:underline">Blog</a>
    <a>/</a>
    <a href="{% url 'slug_router' slug=obj_Blog.Slug %}" class="hover:cursor-pointer hover:underline">{{obj_Blog.Title}}</a>
{% endblock %}
{% block content %}
<main class="flex flex-col items-center w-full mb-6">
    <div class="flex flex-col gap-[20px] max-w-[1200px] p-[15px] lg:p-[0px] w-full">
        <div class="flex gap-[20px] w-full">
            <div class="content-container ckeditor-content flex flex-col text-left  grow w-full lg:border-r-[1px] border-[#11284A] lg:pr-[20px]"
            style="font-family: 'UTM Aptima', sans-serif !important;">
                <h1 class="text-[18px] lg:text-[25px] font-bold">{{ obj_Blog.Title }}</h1>
                {{ obj_Blog.Content|safe }}  <!-- Chỉ cần hiển thị, không cần thêm <p> ngoài -->
            </div>
            <div class="hidden lg:flex flex-col min-w-[300px] max-w-[300px] gap-[30px]">
                <div class="flex flex-col w-full rounded overflow-hidden">
                    <span class="whitespace-nowrap bg-[#11284A] text-white p-[10px] font-bold">Bài viết mới</span>
                    <div class="flex flex-col p-[10px] gap-[10px]">
                        {% for i in list_BlogPost|slice:":5" %}
                        <a href="{% url 'slug_router' slug=i.Slug %}" class="cursor-pointer">            
                            <div class="flex gap-2 items-start">
                                <div class=" pt-[7px]">
                                    <img alt="img" src="{% if i.Avatar %}{{i.Avatar.url}}{% endif %}" class="min-w-[50px] max-w-[50px]  h-auto" />
                                </div>
                                <div class="flex flex-col gap-2">
                                    <p class="p-0 m-0 text-[14px]">{{i.Title}}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex flex-col w-full rounded overflow-hidden">
                    <span class="whitespace-nowrap bg-[#11284A] text-white p-[10px] font-bold">Sản phẩm</span>
                    <div class="flex flex-col p-[10px] gap-[10px]">
                        {% for i in list_Product|slice:":5" %}
                        <a href="{% url 'slug_router' slug=i.Slug %}" class="cursor-pointer">            
                            <div class="flex gap-2 items-start">
                                <div class=" pt-[7px]">
                                    <img alt="img" src="{%  if i.Avatar %}{{i.Avatar.url}}{% endif %}" class="min-w-[50px] max-w-[50px]  h-auto" />
                                </div>
                                <div class="flex flex-col gap-2">
                                    <p class="p-0 m-0 uppercase text-[14px]">{{i.Name}}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    .ckeditor-content {
        font-family: 'UTM Aptima', sans-serif;
        font-size: 16px;
        line-height: 1.8;
        color: #222;
    }

    .ckeditor-content p {
        margin: 0 0 1.2em;
    }

    .ckeditor-content h1,
    .ckeditor-content h2,
    .ckeditor-content h3,
    .ckeditor-content h4 {
        font-weight: bold;
        margin: 1.4em 0 0.8em;
        line-height: 1.4;
    }

    .ckeditor-content ul,
    .ckeditor-content ol {
        margin-left: 2em;
        margin-bottom: 1.2em;
    }

    .ckeditor-content li {
        margin-bottom: 0.5em;
    }

    .ckeditor-content blockquote {
        padding: 0.5em 1em;
        margin: 1em 0;
        border-left: 4px solid #ccc;
        background-color: #f9f9f9;
    }

    .ckeditor-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1em 0;
    }

    .ckeditor-content table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;
    }

    .ckeditor-content table, 
    .ckeditor-content th, 
    .ckeditor-content td {
        border: 1px solid #ccc;
        padding: 8px;
    }
</style>

<style>
    /* Điều chỉnh ảnh trong nội dung */
    .ckeditor-content img {
        max-width: 100% !important;
        height: auto !important;
        display: block;
        margin: 0 auto;
        object-fit: contain;  /* Giữ hình ảnh trong vùng chứa mà không bị kéo dài */
    }
</style>
<style>
    .ckeditor-content {
        white-space: normal;  /* Đảm bảo nội dung có thể xuống dòng */
        word-break: break-word; /* Tự động ngắt từ khi cần */
        overflow-wrap: break-word; /* Tương tự word-break, giúp ngắt từ đúng chỗ */
        word-wrap: break-word; /* Đảm bảo các từ dài không tràn */
        max-width: 100%; /* Đảm bảo nội dung không vượt quá chiều rộng của vùng chứa */
        box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước */
    }

    .ckeditor-content img {
        max-width: 100% !important;
        height: auto !important;
        display: block;
        margin: 0 auto;
    }

    .ckeditor-content table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .ckeditor-content iframe {
        max-width: 100%;
        height: auto;
    }

    .ckeditor-content pre {
        white-space: pre-wrap;
        word-break: break-word;
    }
</style>
{% endblock %}