{% extends './base_client.html' %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center w-[1597px] mt-[50px] gap-[70px]">
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h1 class="uppercase font-bold text-[40px] text-black">
                Nghiên cứu khoa học
            </h1>
            <a href="{% url 'link_nghien_cuu_khoa_hoc_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                Hình ảnh
            </a>
        </div>
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h2 class="uppercase font-bold text-[40px] text-black">
                Kết quả lâm sàn
            </h2>
            <a href="{% url 'link_ket_qua_lam_san_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                Hình ảnh
            </a>
        </div>
    </div>
</main>
{% endblock %}