{% extends './base_client.html' %}
{% block title %}Blog{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog" />
    <link rel="canonical" href="{% url 'nav_blog_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Blog">
    <meta property="og:description" content="Blog">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'nav_blog_client' %}">
{% endblock %}
{% block content %}
<main class="flex flex-col items-center w-full mb-6">
    <div class="hidden lg:flex flex-col items-center">
        <h1 class="uppercase font-medium text-[64px] text-black">
            Blog
        </h1>
        <div class="w-[128px] h-[2px] bg-[#11284A]"></div>
    </div>
    <div class="flex lg:hidden flex-col items-center">
        <h1 class="uppercase font-normal ff-bb text-[32px] lg:text-[40px] text-[#11284A] text-center mb-2">
            Blog
        </h1>
    </div>
    <div class="flex flex-col items-center w-full lg:w-[1597px]  lg:mt-[50px] gap-6">
        <div class="flex flex-col lg:flex-row items-center lg:justify-between w-full gap-[50px] lg:gap-none">
            <div class="flex flex-col items-center w-[364px] lg:w-[626px] text-white">
                <a href="{% url 'blog_1_client' %}" class="flex items-center justify-center w-full h-[364px] lg:h-[626px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                    <img alt="Hình ảnh 1" src="{% if obj_Count_3.Photo1  %}{{obj_Count_3.Photo1.url}}{% endif %}"  class="w-full h-full object-cover" />
                </a>
                <div class=" w-full h-[52px] lg:h-[98px] bg-[#11284A] p-1 lg: uppercase font-bold text-[30px] mt-2  lg:mt-6">
                    {% if obj_Count_3.Content1 %}
                    <p class="font-medium text-[14px] lg:text-[20px] normal-case w-full text-justify">
                        {{obj_Count_3.Content1}}
                    </p>
                    {% else %}
                    <p class="uppercase">
                        Nội dung 1
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-col items-center w-[364px] lg:w-[787px] text-white">
                <a href="{% url 'blog_2_client' %}" class=" flex items-center justify-center w-full h-[364px] lg:h-[626px] bg-[#11284A]  uppercase font-bold text-[30px] rounded-md overflow-hidden">
                    <img alt="Hình ảnh 2" src="{% if obj_Count_4.Photo1  %}{{obj_Count_4.Photo1.url}}{% endif %}"  class="w-full h-full object-cover" />
                </a>
                <div class=" w-full h-[52px] lg:h-[98px] bg-[#11284A] p-1 lg: uppercase font-bold text-[30px] mt-2  lg:mt-6">
                    {% if obj_Count_4.Content1 %}
                    <p class="font-medium text-[14px] lg:text-[20px] normal-case w-full text-justify">
                        {{obj_Count_4.Content1}}
                    </p>
                    {% else %}
                    <p class="uppercase">
                        Nội dung 2
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center w-full text-white mt-[25px] lg:mt-none">
            <a href="{% url 'blog_3_client' %}" class="flex items-center justify-center w-full h-[233px] lg:h-[626px] bg-[#11284A] uppercase font-bold text-[30px] rounded-md overflow-hidden">
                <img alt="Hình ảnh 3" src="{% if obj_Count_5.Photo1  %}{{obj_Count_5.Photo1.url}}{% endif %}"  class="w-full h-full object-cover" />
            </a>
            <div class=" w-full h-[25px] lg:h-[98px] bg-[#11284A] p-1 lg:p-3 uppercase font-bold text-[30px] mt-2 lg:mt-6">
                {% if obj_Count_5.Content1 %}
                    <p class="font-medium text-[14px] lg:text-[20px] normal-case w-full text-justify">
                        {{obj_Count_5.Content1}}
                    </p>
                    {% else %}
                    <p class="uppercase">
                        Nội dung 3
                    </p>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="flex lg:hidden flex-col items-center  gap-[20px] lg:py-[58px] lg:gap-[58px] mt-[25px]">
        <span class="font-bold text-black text-[21px] lg:text-[55px]">
            THE RESULTS ARE IN
        </span>
        <div class="w-full flex justify-center">
            <div class="swiper mySwiper2 w-[362px] h-[170px] lg:w-[1280px] lg:h-[600px] ">
                <div class="swiper-wrapper">
                    {% for i in list_image_slider_3 %}
                    <div class="swiper-slide">
                        <img alt="img" class="w-[362px] h-[170px] lg:w-[1280px] lg:h-[600px]" src="{{i.Photo.url}}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Chỉ có dấu chấm -->
                <div class="swiper-pagination hidden lg:block"></div>
            </div>
            <script>
                var swiper = new Swiper(".mySwiper2", {
                  loop: true, 
                  autoplay: { delay: 3000 }, // Tự động chạy
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                });
              </script>
              <style>
                /* Màu xám cho chấm tròn */
                .swiper-pagination-bullet {
                    background: #9ca3af !important; /* Tailwind gray-400 */
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    opacity: 1;
                }
            
                /* Màu trắng và kích thước lớn hơn khi active */
                .swiper-pagination-bullet-active {
                    background: #ffffff !important; /* Tailwind white */
                    width: 22px;
                    height: 22px;
                }
            </style>
        </div>
    </div>
</main>
{% endblock %}