{% extends './base_client.html' %}
{% block title %}Đối tác miền Bắc{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Đối tác miền Bắc">
    <meta name="keywords" content="Đối tác miền Bắc" />
    <link rel="canonical" href="{% url 'select_kvmb_client' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Đối tác miền Bắc">
    <meta property="og:description" content="Đối tác miền Bắc">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">
    <meta property="og:image:secure_url" content="{{domain}}/upload/website/logo.png">
    <meta property="og:url" content="{% url 'select_kvmb_client' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center">
        <h1 class="uppercase font-medium text-[64px] text-black">
            Danh sách đối tác
        </h1>
        <div class="w-[366px] h-[3px] bg-[#11284A] mt-[15px]"></div>
        <span class="uppercase font-medium text-[40px] text-black mt-[30px]">Khu vực miền Bắc</span>
    </div>
    <div class="grid grid-cols-2 w-[1597px] mt-[50px] gap-6">
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Dermatology-Clinic-Logo-1.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Phòng khám da liễu Hùng Bình</span>
                <span class="uppercase font-medium text-[13px] text-black ">326 Lê Hoàn, phường Ba Đình,  TP Thanh Hóa, tỉnh Thanh Hóa</span>
                <a href="https://www.dalieuthammyhungbinh.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/about_icon.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Phòng khám da liễu bác sĩ Tuyết</span>
                <span class="uppercase font-medium text-[13px] text-black ">97 Trần Cao Vân, phường Đông Vệ, TP Thanh Hóa</span>
                <a href="https://thammythuydung.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/tmv-Thuy-Dung-267x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Clinic Thùy Dung</span>
                <span class="uppercase font-medium text-[13px] text-black ">Phòng khám Thùy Dung, Đường Bắc Sơn, Hoàng Văn Thụ, Thái Nguyên</span>
                <a href="https://drthuyan.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/images-1.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Phòng khám da Dr.Liem</span>
                <span class="uppercase font-medium text-[13px] text-black ">1 Đinh Công Tráng, Quang Trung, Thành phố Vinh, Nghệ An</span>
                <a href="http://drliem.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/images-1.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">AKINA Center - Hệ thống Phòng khám Da liễu Quốc tế</span>
                <span class="uppercase font-medium text-[13px] text-black ">29 Đào Tấn, TP Huế</span>
                <a href="https://www.facebook.com/hethongakinacenter" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Dermatology-Clinic-Logo-1.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">𝐋𝐚 𝐑𝐨𝐬𝐬𝐚 𝐒𝐤𝐢𝐧 & 𝐀𝐞𝐬𝐭𝐡𝐞𝐭𝐢𝐜</span>
                <span class="uppercase font-medium text-[13px] text-black ">Số 2 ngõ 45 trần thái tông, dịch vọng, cầu giấy, hà nội</span>
                <a href="https://www.dalieuthammyhungbinh.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/339255203_563078855804348_1583607770414286772_n-401x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Dr. Skin Dermaclinic & Medispa</span>
                <span class="uppercase font-medium text-[13px] text-black ">25 Lam Sơn, Nha Trang, Vietnam</span>
                <a href="https://www.facebook.com/DrSkinMedispa/?locale=vi_VN" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/herskin.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Herskin & Spa</span>
                <span class="uppercase font-medium text-[13px] text-black ">CN1: 63 Nguyễn Hy Quang, Hà Nội CN2: 29 Hoàng Hoa Thám, ĐN CN3: 95 Văn Cao, Hải Phòng CN4: 178 Đặng Thái Thân, Vinh</span>
                <a href="https://herskincare.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/mnd-403x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">MND Clinic</span>
                <span class="uppercase font-medium text-[13px] text-black ">Số 10 Hàng Vôi- Hoàn Kiếm- Hà Nội</span>
                <a href="https://mndcitta.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Bleu-Spa-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Bleu Spa</span>
                <span class="uppercase font-medium text-[13px] text-black ">51 Lê Ngọc Hân, Phạm Đình Hổ, Hai Bà Trưng, Hà Nội</span>
                <a href="https://bleubeauteclinic.com/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/trayce.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Trayce Laser & Skin Care</span>
                <span class="uppercase font-medium text-[13px] text-black ">16 Hàm Long, Quận Hoàn Kiếm, TP. Hà Nội</span>
                <a href="http://www.trayce.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/images.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">PKDL Bs Lê Thị Thái Hà</span>
                <span class="uppercase font-medium text-[13px] text-black ">Cs 1: 1724/3 Nguyễn Ái Quốc, khu phố 6, P.Trung Dũng, Tp. Biên Hoà. Cs 2: số 8 ngõ 26 Hoàng Cầu, Đống Đa, Hà Nội</span>
                <a href="" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Skin-deBao-logo.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Skin deBao Facial Studio</span>
                <span class="uppercase font-medium text-[13px] text-black ">số nhà 8 - 268/21/55 Ngọc Thuỵ, Long Biên, HN</span>
                <a href="https://www.facebook.com/skin.debao/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/dr-Hai-le.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Dr Hải Lê</span>
                <span class="uppercase font-medium text-[13px] text-black ">Dr Hai Le - 314 Phố Huế, Hai Bà Trưng, Hà Nội</span>
                <a href="https://www.drhaile.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Lam-Beaute-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">LAM Beauté - Nông Thu Oanh</span>
                <span class="uppercase font-medium text-[13px] text-black ">314 Thuỵ Khuê, Tây Hồ, Hà Nội.</span>
                <a href="https://m.facebook.com/61561330887860/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Fonci-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Ms Thu Nguyễn - Fonci Medical Spa</span>
                <span class="uppercase font-medium text-[13px] text-black ">28 Bát Sứ, Hoàn Kiếm, Hà Nội.</span>
                <a href="https://www.facebook.com/p/Fonci-Skin-Medical-100063689283546/?locale=vi_VN" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/rawskin-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Raw Skincenter - Trâm Nguyễn</span>
                <span class="uppercase font-medium text-[13px] text-black ">46 Hàng Bún, Ba Đình, Hà Nội</span>
                <a href="https://www.facebook.com/rawskin90/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/PKCK-DL-Dr-Tham-Nguyen-Eco.png" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">PKCK DL Dr Thắm Nguyễn Eco</span>
                <span class="uppercase font-medium text-[13px] text-black ">141 Thuỷ Nguyên, KĐT Ecopark, Phụng Công, Văn Giang, Hưng Yên</span>
                <a href="https://dalieuthamnguyen.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/NT-skinlab-399x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Ms Ngọc Trân - NT Skinlab</span>
                <span class="uppercase font-medium text-[13px] text-black ">SH02.12 Vinhome Ocean Park, Hà Nội.</span>
                <a href="https://m.facebook.com/NT.SkinLab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Pasi-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Ms Phương Anh - Pasi Skinlab</span>
                <span class="uppercase font-medium text-[13px] text-black ">595 Quang Trung, Hà Đông, HN</span>
                <a href="https://www.facebook.com/p/Pasi-Skinlab-61553330076302/?locale=it_IT" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Beauty-LAB-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Beauty Lab clinic</span>
                <span class="uppercase font-medium text-[13px] text-black ">Beauty Lab clinic - số 5 ngõ 26 Nguyên Hồng, Đống Đa, HN</span>
                <a href="https://www.facebook.com/vnbeautylab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/dr-Nghi-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">PK Laser Thẩm mỹ Aeslatek by Dr.Nghị</span>
                <span class="uppercase font-medium text-[13px] text-black ">44 P.Trung Phụng, Phương Liên, Đống Đa, Hà Nội</span>
                <a href="https://aeslatek.vn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/Lennie-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Lennie Skinlap</span>
                <span class="uppercase font-medium text-[13px] text-black ">990 Ngô Quyền, An Hải Bắc, Sơn Trà , Đà Nẵng</span>
                <a href="https://www.facebook.com/LennieSkinLab" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/hms-476x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">HMS Beauty</span>
                <span class="uppercase font-medium text-[13px] text-black ">CS 1: Số 6, ngõ 21, Trương Công Giai, p. Dịch Vọng Cầu Giấy, Hà Nội</span>
                <a href="https://www.facebook.com/HuongsMedicalSkinlab/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/le-bali-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Bs Phạm Ly - VTM Le’Bali</span>
                <span class="uppercase font-medium text-[13px] text-black ">18 Yên Lãng, Đống Đa, Hà Nội.</span>
                <a href="https://www.facebook.com/vtmlebali/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/moncher-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">Ms Linh - Mon Cher Skincare & Spa</span>
                <span class="uppercase font-medium text-[13px] text-black ">70 Lê Mao Kéo Dài, Tp.Vinh, T.Nghệ An</span>
                <a href="https://www.facebook.com/people/Mon-Cher-Skincare-Spa/100086172468131/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="pt-2">
                <img class="w-[50px] h-auto " src="/upload/kvmb/yellow-beauty-400x400.jpg" >
            </div>
            <div class="flex flex-col gap-1">
                <span class="uppercase font-medium text-[25px] text-black ">BS Hạnh Mai - Yellow Beauty Center</span>
                <span class="uppercase font-medium text-[13px] text-black ">Số 10 Mai Hắc Đế, Đà Nẵng</span>
                <a href="https://www.facebook.com/yellowbeautycenter.dn/" class=" uppercase flex justify-center items-center w-[110px] font-medium text-[16px] text-white bg-[#11284A] rounded-full py-1">Xem thêm</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}