{% extends './base_client.html' %}
{% block title %}
    <title>{{obj_Seo_Page.Seo_Title}}</title>
{% endblock %}
{% block seo_tag %}
    <meta name="description" content="{{obj_Seo_Page.Seo_Description}}">
    <meta name="keywords" content="Nghiên cứu lâm sàn,Hydrinity" />
{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{domain}}{% url 'nav_nghien_cuu_lam_san' %}">
{% endblock %}
{% block meta_tag %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hydrinity">
    <meta property="og:title" content="{{obj_Seo_Page.Seo_Title}}">
    <meta property="og:description" content="{{obj_Seo_Page.Seo_Description}}">
    <meta property="og:url" content="{{domain}}{% url 'nav_nghien_cuu_lam_san' %}">
    <meta property="og:image" content="{{domain}}/upload/website/logo.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{obj_Seo_Page.Seo_Title}}">
    <meta name="twitter:description" content="{{obj_Seo_Page.Seo_Description}}">
    <meta name="twitter:image" content="{{domain}}/upload/website/logo.png">
{% endblock %}
{% block breadcrumb %}
    <a href="{% url 'nav_nghien_cuu_lam_san' %}" class="hover:cursor-pointer hover:underline">Nghiên cứu lâm sàn</a>
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full mb-6">
    <div class="flex flex-col items-center w-[1597px] mt-[50px] gap-[70px]">
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h1 class="uppercase font-bold text-[40px] text-black">
                Nghiên cứu khoa học
            </h1>
            <a href="{% url 'link_nghien_cuu_khoa_hoc_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                <img alt="Hình ảnh 1" src="{% if obj1.Photo1 %}{{obj1.Photo1.url}}{% endif %}"  class="w-full h-full object-cover" />
            </a>
        </div>
        <div class="flex flex-col items-center w-full text-white gap-[30px]">
            <h2 class="uppercase font-bold text-[40px] text-black">
                Kết quả lâm sàn
            </h2>
            <a href="{% url 'link_ket_qua_lam_san_client' %}" class="flex items-center justify-center w-full h-[443px] bg-[#11284A] text-center uppercase font-bold text-[30px] rounded-md overflow-hidden">
                <img alt="Hình ảnh 2" src="{% if obj2.Photo1 %}{{obj2.Photo1.url}}{% endif %}"  class="w-full h-full object-cover" />
            </a>
        </div>
    </div>
</main>
{% endblock %}