<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>
        Đăng nhập tài khoản
    </title>
    <!-- ================= Page description ================== -->
    <meta name="description" content="">
    <!-- ================= Meta ================== -->
    <meta name="keywords" content="Đăng nhập tài khoản, Sapa tv, sapatv.vn" />
    <link rel="canonical" href="{{domain}}/account/login" />
    <meta name='revisit-after' content='1 days' />
    <meta name="robots" content="noodp,index,follow" />
    <link rel="shortcut icon" href="/upload/website/logo.png"
        type="image/x-icon" />
    <meta property="og:type" content="websitae">
    <meta property="og:title" content="Đăng nhập tài khoản">
    <meta property="og:image"
        content="http://bizweb.dktcdn.net/100/467/099/themes/880010/assets/logo_share.png?1740649127790">
    <meta property="og:image:secure_url"
        content="https://bizweb.dktcdn.net/100/467/099/themes/880010/assets/logo_share.png?1740649127790">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://sapatv.vn/account/login">
    <meta property="og:site_name" content="Sapa tv">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

    <link rel="stylesheet" href="/static/css/dist/styles.css?v=1743858420">
    <link rel="stylesheet" href="/static/styles.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }
        $(document).ready(function() {
            function formatNumberWithDot(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
        
            $('.format_number').each(function() {
                var originalNumber = $(this).text().trim();
                var formattedNumber = formatNumberWithDot(originalNumber);
                $(this).text(formattedNumber);
            });
        });
      </script>
      

    <style>
        @font-face {
            font-family: 'UTM Aptima';
            src: url('static/fonts/00022-UTM-Aptima.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'UTM Aptima';
            src: url('static/fonts/00024-UTM-AptimaBoldItalic.ttf') format('truetype');
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'UTM Bebas';
            src: url('static/fonts/00041-UTM-Bebas.ttf') format('truetype');
            font-weight: 700;
            font-style: italic;
        }

        body {
            font-family: 'UTM Aptima', sans-serif !important;
        }
    </style>

</head>

<body class=" flex  items-center justify-center bg-red-500" style="background: url('/upload/website/background.png') no-repeat center center/cover;">
    <div class="flex  w-full min-h-screen">
        <div class="flex flex-col  text-white w-[350px]">
            <div class="uppercase flex justify-center items-center py-[20px] bg-[#11284A] border-b-[1px] border-[#0e203c] text-[30px]">
                admin
            </div>
            <nav class="flex flex-col p-3 font-bold border-r-[1px] border-[#0e203c] h-full text-[#11284A]">
                <a href="{% url 'product_admin' %}" class="flex items-center justify-between border-b-[1px] border-[#0e203c] py-3 cursor-pointer">
                    Sản phẩm
                    {% if request.resolver_match.url_name == 'product_admin' or 'admin/product/edit' in request.path or 'admin/product/add' in request.path %}
                    <svg class="w-[20px] fill-[#0e203c]" version="1.1" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><title></title><desc></desc><defs></defs><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#0e203c" id="Icons-AV" transform="translate(-88.000000, -88.000000)"><g id="play-arrow" transform="translate(88.500000, 88.000000)"><path d="M0,0 L0,14 L11,7 L0,0 Z" id="Shape"></path></g></g></g></svg>
                    {% endif %}
                </a>
                <div class="flex justify-center items-center p-3">
                    <a href="{% url 'logout_admin' %}" class="px-2 py-1 bg-[#0e203c] text-white rounded-md">
                        <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1H5zm13-6v-3h-7v-2h7V8l5 4-5 4z" fill="#ffffff"></path></svg>
                    </a>
                </div>
                <!-- <a class="border-b-[1px] border-[#0e203c] py-3 cursor-pointer">
                    Blog
                    {% if request.resolver_match.url_name == 'product_admin' %}
                    <svg class="w-[20px] fill-[#0e203c]" version="1.1" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink" transform="matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)"><title></title><desc></desc><defs></defs><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#0e203c" id="Icons-AV" transform="translate(-88.000000, -88.000000)"><g id="play-arrow" transform="translate(88.500000, 88.000000)"><path d="M0,0 L0,14 L11,7 L0,0 Z" id="Shape"></path></g></g></g></svg>
                    {% endif %}
                </a> -->
            </nav>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>